* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS DEL REGISTRO */
.form-registro-container {
    max-width: 750px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.form-registro-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
    color: #333;
}

.form-registro-container .form-floating>.form-control {
    border-radius: 8px;
    border: 1px solid #c3c3c3;
}

.form-registro-container .form-floating>.form-control:focus {
    border-color: #ae8ae5;
    box-shadow: 0 0 0 0.15rem #ae8ae596;
}

.form-registro-container .row {
    margin-bottom: 10px;
}

.form-registro-container .form-check-input:checked {
    background-color: #c3c3c3;
    border-color: #c3c3c3;
}

.form-registro-rol {
    margin-top: 15px;
    padding: 10px 5px;
}

.form-registro-rol h6 {
    margin-bottom: 10px;
    font-weight: 600;
    color: #444;
}

.form-registro-btn {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
    background-color: #ae8ae5;
}

.form-registro-btn:hover {
    transform: translateY(-2px);
    border: 1px solid #ae8ae5;
    background-color: #ae8ae596;
    box-shadow: 0 6px 15px #ae8ae596;
    transition: all 0.3s ease;
}

.cuenta {
    font-size: smaller;
}

.form-registro-rol {
    display: flex;
    margin-top: 15px;
    padding: 10px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opciones {
    display: flex;
    flex-direction: column;
}

/* ALTA DE PRODUCTOS */
.borde-principal {
    border-radius: 15px;
    border: 2px solid #ae8ae5;
    background-color: white;
}

.logo,
.logo-footer {
    border: 2px solid #ae8ae5;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-violeta {
    background-color: #ae8ae5;
    border: none;
    transition: 0.3s;
}

.btn-violeta:hover {
    background-color: #ae8ae5;
}

.form-control {
    border-radius: 8px;
}

.img-preview {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #ddd, #bbb);
    border-radius: 10px;
    margin: auto;
}

.card {
    border-radius: 12px;
}

.form-control:focus {
    border-color: #ae8ae5 !important;
    box-shadow: 0 0 0 0.15rem rgba(174, 138, 229, 0.6) !important;
}

.preview-card {
    background: #fff;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.img-preview {
    width: 100%;
    height: 250px;
    background: #eee;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn-editar {
    background-color: #ae8ae5;
    color: white;
    border: none;
}

.btn-editar:hover {
    background-color: #ae8ae563;
}

.btn-eliminar {
    background-color: #e17171;
    color: white;
    border: none;
}

.btn-eliminar:hover {
    background-color: #fca5a587;
}


/* PANTALLA PRINCIPAL - INDEX*/
header {
    height: 20%;
}

.navbar {
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-link i {
    color: #212529;
    font-size: 1.3rem;
}

.navbar-nav {
    margin-left: 65rem;
}

main {
    height: 80%;
}

.cont-banner img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.cont-titulo-producto {
    margin-left: 7rem;
    margin-top: 3rem;
}

.cont-titulo-producto h1 {
    font-size: 2rem;
}

.cont-titulo-producto h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.cont-titulo-producto span i {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.tit {
    margin-top: 30px;
    padding: 30px 0 15px 0;
    margin-bottom: 0;
}

#vista-productos {
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
}

#filtro {
    width: 100%;
}

.btn-carrito{
    margin-top: 10px !important;
    background-color: black;
    font-size: .8rem !important;
    color: white;
}

.btn-carrito:hover{
    transform: translateY(-3px);
    background-color: #212529;
    color: white;
    transition: all .3s ease;
}

footer {
    margin-top: 3rem;
    padding: 3rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 130px;
}

footer p {
    margin-top: 2rem;
    font-size: 12px;
}